/* Estilos para el apartado de códigos */
.codigo {
    background-color: #111111;
    color: #FFFFFF;
    border-radius: 10px; /* Ajusta el valor según lo desees */
    padding: 20px; /* Ajusta el espaciado interno según lo desees */
}

/* Estilos para los enlaces dentro del apartado de códigos */
.codigo a {
    color: #C70039;
}

/* Estilos para los bordes de los elementos */
.codigo img,
.codigo iframe,
.codigo pre,
.codigo blockquote,
.codigo table {
    border-radius: 5px; /* Ajusta el valor según lo desees */
}
