.copy-btn {
  all: unset; /* elimina todos los estilos heredados */
  background-color: #c70039;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy-btn svg {
  pointer-events: none;
}
