.copy {
  background-color: #111111;
  color: white;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  font-family: monospace;
}

.copy pre {
  margin: 0;
  white-space: pre-wrap;
}

.copy-btn {
  background-color: #c70039;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
